footer.footer
      .container-fluid
        nav.pull-left
          ul.nav
            li.nav-item
              a.nav-link(href='https://www.themekita.com')
                | ThemeKita
            li.nav-item
              a.nav-link(href='#')
                | Help
            li.nav-item
              a.nav-link(href='#')
                | Licenses
        .copyright.ml-auto
          | 2018, made with 
          i.fa.fa-heart.heart.text-danger
          |  by 
          a(href='https://www.themekita.com') ThemeKita