extends ../../layout/index.pug

block content
  .main-panel
    .content
      .page-inner
        .page-header
          h4.page-title Metode Pembayaran
          ul.breadcrumbs
            li.nav-home
              a(href="#")
                i.flaticon-home
            li.separator
              i.flaticon-right-arrow
            li.nav-item
              a(href="#") Master Data
            li.separator
              i.flaticon-right-arrow
            li.nav-item
              a(href="#") Metode Pembayaran
    include ../../partials/footer.pug