extends ../../layout/index.pug

block content
  .main-panel
    .content
      .panel-header.bg-primary-gradient
        .page-inner.py-5
          .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
            div
              h2.text-white.pb-2.fw-bold Dashboard
              h5.text-white.op-7.mb-2 ini bagian halaman dashboard
            .ml-md-auto.py-2.py-md-0
              a.btn.btn-white.btn-border.btn-round.mr-2(href='#') Manage
              a.btn.btn-secondary.btn-round(href='#') Add Customer
      .row
    include ../../partials/footer.pug