extends ../layout/index.pug

block content
    .main-panel
      .content
        .page-inner
          .page-header
            h4.page-title Kategori Kelas
            ul.breadcrumbs
              li.nav-home
                a(href="#")
                  i.flaticon-home
              li.separator
                i.flaticon-right-arrow
              li.nav-item
                a(href="#") Kategori Kelas
          .row
      include ../partials/footer.pug