extends ../layout/index.pug

block content
  .main-panel
    .content
      .panel-header.bg-primary-gradient
        .page-inner.py-5
          .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
            div
              h2.text-white.pb-2.fw-bold Pembayaran
              h5.text-white.op-7.mb-2 Data pembayaran saat ini
            .ml-md-auto.py-2.py-md-0
              a.btn.btn-white.btn-border.btn-round.mr-2(href='#') Manage
              a.btn.btn-secondary.btn-round(href='#') Add Customer
      .page-inner.mt--5
        .row.mt--2
          .col-md-6
            .card.full-height
              .card-body
                .card-title Overall statistics
                .card-category Daily information about statistics in system
                .d-flex.flex-wrap.justify-content-around.pb-2.pt-4 Data pembayaran
    include ../partials/footer.pug