include ../partials/head.pug
.wrapper
  // Header
  include ../partials/header.pug
  // End Header
  // Sidebar
  include ../partials/sidebar.pug
  // End Sidebar
  body
    block content 

  include ../partials/script.pug