include ../partials/head.pug
.wrapper
  // Header
  include ../partials/header.pug
  // End Header
  // Sidebar
  include ../partials/sidebar.pug
  // End Sidebar
  include ../partials/footer.pug
  body
    block content
  block modal 

  include ../partials/script.pug
